/* 	Klasse = Wiederholendes Ojekt (TEXTMARKER)
	ID = Einmaliges Objekt (NAVIGATION)
*/


/*	CUSTOM VARIABLES	*/
@font-face {
	font-family: Gisha;
	src: url('./fonts/gisha.ttf');
}

/*	GENERALS	*/
html	{
	font-family: Gisha;
	margin: 0;
	padding: 0;
}

/*	HTML TAGS	*/
body {
	background: #ddd;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

header {
	height: 250px;
	width: 100%;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	display: inline-block;
}

nav {
	width: 100%;
	display: inline-block;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: -60px;
	margin-bottom: 0px;
	
}

section {
	background: #ccc;
	width: 67%;
	display: inline-block;
	float: left;
	padding-bottom: 1000px;
	margin-bottom: -960px;
	margin-top: 0px;
}

article	{
	background: #eee;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 10px;
	text-align: justify;
	border-style: solid;
	border-color: #e68a00;
	border-width: 2px;
}

aside {
	background: #e68a00;
	width: 33%;
	display: inline-block;
	float: left;
	padding-bottom: 1000px;
	margin-bottom: -960px;
	margin-top: 0px;
}

footer {
	background: #f0f;
	width: 100%;
	display: inline-block;
	margin-top: 0px;
}

h1	{
	
}

h2	{
	position: relative;
	font-size: 60px;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	text-shadow: 2px 3px 3px #aaa;
	letter-spacing: -2px;
	-webkit-text-stroke: 1px white;
	text-decoration: none;  
	color: #ffffff;
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottombottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,0)), to(rgba(0,0,0,1)));
	text-shadow: 0 2px 0 #aaa;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

span	{
	color: #e68a00;
}

img	{
	padding: 0px;
	margin: 0px;
}


/*	CLASSES	*/
.clear_float	{
	clear: float;
}
.article_title	{
	background-color: black;
	color: white;
	display: inline-block;
	position: relative;
	height: 40px;
	padding-left: 40px;
	margin-left: -20px;
}
.article_title:after {
	content: "";
	position: absolute;
	border: 20px solid black;
	border-right-color: transparent;
	border-bottom-color: transparent;
}
.article_content	{
	
}
.div_article	{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding: 10px;
}
.nav_tab	{
	float: left;
	display: inline-block;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border: 2px solid #000;
	border-bottom: 0px;
	background: #e68a00;
	height: 30px;
	width: 100px;
	padding-top: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: bold;
}
.nav_tab:hover	{
	background: #ccc;
}
.nav_tab:active	{
	background: #999;
}
.vr	{
	float: left;
	display: inline-block;
	padding: 1px;
	width: 10px;
}
.nav_clear	{
	clear: float;
}


/*	ID's	*/
#header_img	{
	width: 1200px;
	height: 250px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
#header_container	{
	padding: 0;
	margin: 0;
}
#page_content	{
	overflow: hidden;
}
#nav_left	{
	float: left;
	display: inline-block;
	width: 67%;
	position: relative;
}
#nav_right	{
	float: left;
	display: inline-block;
	width: 33%;
	position: relative;
}
#nav_spacer	{
	float: left;
	display: inline-block;
	width: 28px;
	padding: 1px;
}